@{
    ViewData["Title"] = "Product List";
    List<Category> categories = ViewBag.Categories;
}

<a href="~/Admin/Category/Create" class="primary-btn w-100" style="margin-bottom:2em; text-align:center;">Create a new category</a>

<table id="table" class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Products</td>
            <td>Is Featured</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
            @foreach(var category in categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Products.Count</td>
                    <td>@(category.IsFeatured ? "yes" : "no")</td>
                    <td>
                        <a href="~/Admin/Category/Update/@(category.Id)" class="primary-btn" style="text-align:center;">Edit</a>
                        <a href="~/Admin/Category/Delete/@(category.Id)" class="primary-btn" style="text-align:center;">Delete</a>
                        <a href="~/Admin/Category/Details/@(category.Id)" class="primary-btn" style="text-align:center;">Details</a>
                    </td>
                </tr>
            }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready( function () {
            $('#table').DataTable();
        });
    </script>
}