@model Category

@{
    ViewData["Title"] = "Category Update";
}

<form method="post">
    <partial name="~/Areas/Admin/Views/Shared/Forms/CategoryForm.cshtml"></partial>

    <button class="primary-btn w-100 text-center">Save Changes</button>
</form>