@{
    ViewData["Title"] = "Order list";
    List<Order> orders = ViewBag.Orders;
}

<table id="table" class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>Price</td>
            <td>User Email</td>
        </tr>
    </thead>
    <tbody>
            @foreach(var order in orders)
            {
                <tr>
                    <td>@order.OrderDate.ToShortDateString()</td>
                    <td>@order.TotalPrice</td>
                    <td>@(order.UserId is null ? "anonymous" : @order.User.Email)</td>
                </tr>
            }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready( function () {
            $('#table').DataTable();
        });
    </script>
}