@model Supermarket.Core.DtoObjects.ViewModels.Cart.CartPageVm

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.Items)
                            {
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="@item.ImageUrl" alt="" height="100" width="100" />
                                    <h5>@item.Name</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    $@item.Price.ToString("F2")
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                    @item.Quantity
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    $@item.Total.ToString("F2")
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="shoping__continue">
                      
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span>$@Model.Subtotal.ToString("F2")</span></li>
                        <li>Total <span>$@Model.Total.ToString("F2")</span></li>
                    </ul>
                    <form method="POST" action="~/Order/PlaceOrder">
                        <button type="submit" class="primary-btn">Place order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->