@model Product

@{
    ViewData["Title"] = "Product Update";
}

<form method="post">
    <partial name="~/Areas/Admin/Views/Shared/Forms/ProductForm.cshtml"></partial>

    <button class="primary-btn w-100 text-center">Save Changes</button>
</form>